@model IEnumerable<VolleyballRallyManager.Lib.Models.Team>

@{
    ViewData["Title"] = "Teams";
}

<div class="container">
    <h1>Teams</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Group</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @* <td>@item.DivisionId</td>
                            <td>@item.GroupId</td> *@
                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
