@model VolleyballRallyManager.Lib.Models.Tournament

@{
    ViewData["Title"] = "Set Tournament Active";
}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <p>Are you sure you want to set the tournament "@Model.Name" as active?</p>
        <form asp-action="SetActive">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Set Active" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-sm btn-light">Cancel</a>
        </form>
    </div>
</div>
