@model IEnumerable<VolleyballRallyManager.Lib.Models.Division>

@{
    ViewData["Title"] = "Divisions";
}

<div class="container">
    <h1>Divisions</h1>

    <p>
        <a asp-action="Create" class="btn btn-custom">Create New</a>
    </p>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> 
                                    <div class="btn-group" role="group">
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary" title="Edit"><i class="bi bi-pencil"></i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger" title="Delete"><i class="bi bi-trash"></i></a>
                                    </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
