@model string
@using VolleyballRallyManager.Lib.Services
@inject GroupService groupService 

@if(string.IsNullOrEmpty(Model)){
    <span class="badge rounded-pill badge-secondary"></span>
    return;
}
@{
    string bgcolor = groupService.GetColor(Model);
}
<span class="badge rounded-pill text-black" style="background-color: @bgcolor">@Model</span>
