@model VolleyballRallyManager.Lib.Common.MatchState
@using VolleyballRallyManager.Lib.Common;

@{
    string stateIcon = "bi-hourglass";
    string matchState = "Scheduled";
    string stateBadgeClass = "bg-secondary";

    if (Model == MatchState.Disputed)
    {
        matchState = "Disputed";
        stateBadgeClass = "bg-danger";
        stateIcon ="bi-exclamation-triangle-fill";
    }
    else if (Model == MatchState.Finished)
    {
        matchState = "Complete";
        stateBadgeClass = "bg-success";
        stateIcon ="bi-check-circle";
    }
    else if (Model == MatchState.InProgress)
    {
        matchState = "In Progress";
        stateBadgeClass = "bg-primary";
    }
    @* else if (Model == MatchState.)
    {
        matchState = "Started";
        stateBadgeClass = "bg-info";
    } *@
}
<span class="badge @stateBadgeClass small match-state-badge"><i class="bi @stateIcon"></i> @matchState</span>