@model Dictionary<VolleyballRallyManager.Lib.Models.TournamentDivision, IEnumerable<VolleyballRallyManager.Lib.Models.TournamentTeamDivision>>

@foreach (var divisionTeams in Model)
{
    <div class="card mb-2">
        <div class="card-header">
            @divisionTeams.Key.Division.Name
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var team in divisionTeams.Value)
            {
                <li class="list-group-item">
                    @Html.DisplayFor(modelItem => team.GroupName, "Group")
                    @team.Team.Name
                    <small>(@Html.DisplayFor(modelItem => team.Team.School))
                    </small>
                </li>
            }
        </ul>
    </div>
}
