@model VolleyballRallyManager.App.Models.ActiveTournamentViewModel

@{
    ViewData["Title"] = "Active Tournament";
}

<h1>@Model.ActiveTournament.Name</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Divisions
                <div class="btn-group float-right" role="group" aria-label="Divisions">
                <a class="btn btn-primary" asp-action="SelectDivisions">Select Divisions</a>
                </div>
            </div>
            <div class="card-body">
                @if (Model.TournamentDivisions.Any())
                {
                    <partial name="_DivisionsPartial" model="Model.TournamentDivisions" />
                }
                else
                {
                    <p>No divisions are currently active for this tournament.</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Teams
            </div>
            <div class="card-body">
                @if (Model.TeamsByDivision.Any())
                {
                    <partial name="_TeamsPartial" model="Model.TeamsByDivision" />
                }
                else
                {
                    <p>No teams are currently participating in this tournament.</p>
                }
            </div>
        </div>
    </div>
</div>
